.add-products__title {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 24px;
  color: $color-basic;
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    font-size: 36px;
    line-height: 36px;
    margin-bottom: 80px;
  }
}

.add-products__wrapper {
  @media (min-width: $desktop-width) {
    display: flex;
    column-gap: 79px;
  }
}

.add-products__list {
  border-top: 1px solid #cdcdcd;
  border-bottom: 1px solid #cdcdcd;
  margin-bottom: 35px;

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    border: 1px solid #cdcdcd;
    margin-bottom: 69px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 91%;
    margin-bottom: 0;
  }
}

.add-products__gift {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    flex-direction: row;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 24%;
  }
}
