.catalog {
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    padding-top: 64px;
  }

  @media (min-width: $desktop-width) {
    padding-top: 75px;
  }
}

.catalog__title {
  margin-bottom: 8px;

  @media (max-width: $mobile-width-only) {
    width: calc(100% + 40px);
    padding: 0 20px 40px 20px;
    margin-right: -20px;
    margin-left: -20px;
    border-bottom: 1px solid #ebebeb;
    box-sizing: border-box;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 82px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 84px;
  }
}

.catalog__list {
  display: flex;
  flex-direction: column;
  row-gap: 8px;

  @media (min-width: $tablet-width) {
    display: grid;
    gap: 60px;
    grid-template-columns: 1fr 1fr;
  }

  @media (min-width: 1152px) {
    grid-template-columns: 1fr 1fr 1fr;
  }

  @media (min-width: $desktop-width) {
    grid-template-columns: 1fr 1fr 1fr 1fr;
    column-gap: 80px;
    row-gap: 62px;
  }
}

.catalog__item {
  @media (max-width: $mobile-width-only) {
    width: calc(100% + 40px);
    padding-left: 20px;
    padding-right: 20px;
    margin: 0 -20px;
    border-bottom: 1px solid #ebebeb;
    box-sizing: border-box;
  }
}
