.catalog-main__products {
  margin-bottom: 25px;

  @media (min-width: $tablet-width) {
    margin-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 76px;
  }
}

.catalog-main__add-products {
  margin-bottom: 35px;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 86px;
  }
}
