.demo {
  padding-top: 27px;
  padding-bottom: 40px;
  background-color: #eaeaea;

  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    padding-top: 43px;
    padding-bottom: 100px;
    border-top: 1px solid #e6e6e6;
    background-image: linear-gradient(to bottom, $color-basic-light 619px, #eaeaea 619px);
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 75px;
    background-image: linear-gradient(to bottom, $color-basic-light 163px, #eaeaea 163px);
  }
}

.demo__container {
  @media (min-width: $tablet-width) and (max-width: $tablet-width-only) {
    padding-right: 30px;
    padding-left: 31px;
  }

  @media (min-width: $desktop-width) {
    display: grid;
    grid-template-columns: auto auto;
    column-gap: 228px;
  }
}

.demo__title {
  margin-bottom: 42px;

  @media (min-width: $tablet-width) {
    margin-bottom: 63px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 146px;
  }
}

.demo__desc {
  @include main-text;
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
    margin-bottom: 54px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 69px;
  }
}

.demo__option {
  margin-bottom: 20px;

  @media (min-width: $tablet-width) {
    margin-bottom: 104px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 0;
    margin-right: 66px;
  }
}
