.feature__title {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $color-basic;
  margin-bottom: 40px;

  @media (min-width: $tablet-width) {
    font-size: 60px;
    line-height: 60px;
    margin-bottom: 32px;
  }
}

.feature__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 20px;
  counter-reset: feature 0;

  @media (min-width: $tablet-width) {
    flex-direction: row;
    column-gap: 136px;
    row-gap: 37px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 81px;
  }
}

.feature__item {
  display: flex;
  column-gap: 20px;
  align-items: center;
  position: relative;
  counter-increment: feature 1;

  &::after {
    content: counter(feature);
    position: absolute;
    right: 0;
    top: 0;
    z-index: -1;
    font-family: $oswald;
    font-style: normal;
    font-weight: 400;
    font-size: 280px;
    line-height: 280px;
    color: $background-special;

    @media (max-width: $mobile-width-only) {
      content: none;
    }
  }

  &--first::after {
    right: 22px;
  }

  @media (min-width: $tablet-width) {
    flex-direction: column;
    align-items: flex-start;
    row-gap: 31px;
    flex-basis: 35%;
    padding-top: 40px;
    padding-bottom: 57px;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 20%;
  }
}

.feature__icon {
  width: 60px;
  height: 60px;
  background-color: $color-accent;
  flex-shrink: 0;

  @media (min-width: $tablet-width) {
    width: 80px;
    height: 80px;
  }
}

.feature__text {
  @include main-text;

  @media (min-width: $tablet-width) {
    font-size: 16px;
    line-height: 24px;
  }
}
