.feature__title {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 36px;
  line-height: 40px;
  color: $color-basic;
  margin-bottom: 40px;
}

.feature__list {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.feature__icon {
  width: 60px;
  height: 60px;
  background-color: $color-accent;
}

.feature__text {
  @include main-text;
}
