.form-contacts__title {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 26px;
  color: $color-basic;
  margin-bottom: 35px;
}

.form-contacts__label {
  @include form-text;
}

.form-contacts__input {
  @include form-text;
  @include input-basic;
  padding: 15px 40px 14px 15px;
}
