.form-goal {
  padding-top: 22px;
  padding-bottom: 18px;

  @media (min-width: $tablet-width) {
    @include input-basic;
    padding: 25px 28px;
  }
}

.form-goal__list {
  display: flex;
  flex-direction: column;
  row-gap: 13px;
}

.form-goal__label {
  @include form-text(#222222);
}
