.form-contacts__title {
  margin-bottom: 36px;

  @media (min-width: $tablet-width) {
    margin-bottom: 76px;
  }
}

.form-contacts__list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  row-gap: 16px;

  @media (min-width: $tablet-width) {
    row-gap: 20px;
  }

  @media (min-width: $desktop-width) {
    flex-direction: row;
    column-gap: 80px;
  }
}

.form-contacts__item {
  @media (min-width: $desktop-width) {
    flex: 0 0 calc((100% / 2) - 40px);
  }
}

.form-contacts__label {
  display: flex;
  align-items: center;
  column-gap: 11px;
  position: relative;

  @media (min-width: $tablet-width) {
    column-gap: 21px;
  }
}

.form-contacts__label-name {
  @include form-text;
  flex-shrink: 0;
}

.form-contacts__input {
  @include form-text;
  @include input-basic;
  line-height: 24px;
  padding: 11px 45px 8px 15px;
  flex-grow: 1;

  &:focus + .form-contacts__icon {
    background-color: $color-accent;
  }

  &--error + .form-contacts__icon {
    background-color: $color-error;
  }

  @media (min-width: $tablet-width) {
    padding: 11px 55px 11px 20px;
  }
}

.form-contacts__icon {
  position: absolute;
  width: 20px;
  height: 20px;
  top: 12px;
  right: 15px;
  background-color: $color-basic;
  mask-repeat: no-repeat;

  &--email {
    mask-image: url("../icons/sprite.svg#email");
  }

  &--tel {
    mask-image: url("../icons/sprite.svg#tel");
    right: 13px;
  }

  @media (min-width: $tablet-width) {
    top: 50%;
    transform: translateY(-50%);
  }

  @media (min-width: $desktop-width) {
    right: 18px;
  }
}
