.form-add__title {
  margin-bottom: 34px;

  @media (min-width: $tablet-width) {
    margin-bottom: 57px;
  }
}

.form-add__list {
  display: flex;
  flex-wrap: wrap;
  row-gap: 13px;

  @media (min-width: $tablet-width) {
    column-gap: 80px;
    row-gap: 32px;
  }

  @media (min-width: $desktop-width) {
    column-gap: 80px;
  }
}

.form-add__item {
  flex-basis: 100%;

  @media (min-width: $tablet-width) {
    flex-basis: 40%;
  }

  @media (min-width: $desktop-width) {
    flex-basis: 20%;
  }
}

.form-add__label {
  @include form-text($color-basic);
}
