.logo__img {
  @media (min-width: $tablet-width) {
    width: 174px;
    height: 52px;
  }

  @media (min-width: $desktop-width) {
    width: 202px;
    height: 59px;
  }
}

.logo__type {
  @media (min-width: $tablet-width) {
    width: 143px;
    height: 26px;
  }
}
