.product-card {
  padding-top: 11px;
  padding-bottom: 14px;

  &--show-more {
    padding-top: 70px;
  }
}

.product-card__wrapper-content {
  margin-bottom: 13px;
}

.product-card__link {
  margin-bottom: 18px;
}

.product-card__title {
  @include accented-text;
  color: #222222;
}
