.promo__container {
  display: grid;
  grid-template-columns: 1fr;
  padding-top: 27px;

  @media (min-width: $tablet-width) {
    grid-template-rows: auto auto auto 1fr;
  }

  @media (min-width: $desktop-width) {
    padding-left: 190px;
    margin-bottom: 136px;
    grid-template-columns: 420px 1fr;
  }
}

.promo__title {
  margin-bottom: 25px;

  @media (max-width: $mobile-width-only) {
    color: $color-basic-light;
    text-align: center;
  }

  @media (min-width: $tablet-width) {
    margin-bottom: 41px;
  }
}

.promo__slogan {
  @include accented-text(14px, 14px);
  color: $color-basic-light;
  text-align: center;
  margin-bottom: 29px;

  @media (min-width: $tablet-width) {
    font-size: 20px;
    line-height: 20px;
    color: $color-basic;
    text-align: left;
    margin-bottom: 20px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 52px;
  }
}

.promo__img {
  @media (min-width: $tablet-width) {
    grid-area: 3 / 1 / 5 / 2;
  }

  @media (min-width: $desktop-width) {
    grid-area: 1 / 2 / 5 / 3;
    margin-left: -46px;
  }
}

.promo__button {
  @media (min-width: $tablet-width) {
    width: 244px;
    padding: 14px 26px;
    box-sizing: border-box;
    font-size: 20px;
    line-height: 20px;
  }

  @media (min-width: $tablet-width) and (max-width: 1439px) {
    grid-area: 3 / 1 / 4 / 2;
    margin-top: 29px;
  }
}
