.site-list {
  display: none;
  position: relative;
  z-index: 2;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: end;
    column-gap: 35px;
  }
}

.site-list__link {
  width: 100%;
  padding-top: 22px;
  padding-bottom: 24px;
  font-family: $oswald;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 20px;
  text-transform: uppercase;
  color: $color-basic;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-weight: 400;
    font-size: 18px;
    line-height: 24px;
  }

  @media (min-width: $desktop-width) {
    font-size: 20px;
    line-height: 30px;
    color: $color-basic-light;
  }
}
