@mixin accented-text($font-size: 16px, $line-height: 20px) {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;
  text-transform: uppercase;
}

@mixin main-text($font-size: 14px, $line-height: 18px) {
  font-family: $lato;
  font-style: normal;
  font-weight: 400;
  font-size: $font-size;
  line-height: $line-height;
  color: $color-special;
}


@mixin form-text($color: #444444) {
  font-family: $oswald;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 18px;
  text-transform: uppercase;
  color: $color;

  &::placeholder {
    color: inherit;
  }
}

@mixin input-basic {
  border: 1px solid #e7e7e7;
}
