$lato: "Lato", "Arial", sans-serif;
$oswald: "Oswald", "Arial", sans-serif;
$color-basic: #000000;
$color-basic-light: #ffffff;
$color-special: #444444;
$background-special: #f2f2f2;
$color-accent: #68b738;
$mobile-width-only: 767px;
$tablet-width: 768px;
$tablet-width-only: 1439px;
$desktop-width: 1440px;
